/*!
 * WordStrap Framework/Parent Theme | ws.wordstrap.less
 * These are the standard WordStrap enhancements to the Bootstrap syling.
 */
 
/* ==========================================================================
   Mixins
   ========================================================================== */
   
   .text-shadow-mixin (@ts) when (lightness(@ts) >= 50%) { text-shadow:0 1px 0 darken(@ts, 60%); }
   .text-shadow-mixin (@ts) when (lightness(@ts) < 50%) { text-shadow:0 1px 0 lighten(@ts, 60%); }

   .bkgd-gradient-mixin (@bg) when (lightness(@bg) >= 50%) { #gradient > .vertical( @bg, darken(@bg, 12%) ); }
   .bkgd-gradient-mixin (@bg) when (lightness(@bg) < 50%) { #gradient > .vertical( lighten(@bg, 12%), @bg ); }
   .bkgd-gradient-horz-mixin (@bg) when (lightness(@bg) >= 50%) { #gradient > .horizontal( @bg, darken(@bg, 7%) ); }
   .bkgd-gradient-horz-mixin (@bg) when (lightness(@bg) < 50%) { #gradient > .horizontal( lighten(@bg, 7%), @bg ); }
   
 
/* ==========================================================================
   Base
   ========================================================================== */

body { 
background-color:@bodyBackground;
background-image:@bodyPattern;
background-position:center top;
background-repeat:@bodyRepeat;
background-attachment:@bodyAttach;
}

body.gradient {
.bkgd-gradient-mixin( @bodyGradient )
}

// These set some padding/margin at the left and right of all major layout elements
#banner .navbar .brand  { margin-left:30px; }
#banner .navbar .btn-navbar { margin-right:30px; }
#banner nav, #main > *, #sidebar > *, #superfooter .span4 > *, #colophon .span6 > * {
margin-left:30px;
margin-right:30px;	
}

/* =============================================================================
   Header
   ========================================================================== */

#banner {
height:@mastHeight + @mastMarginBtm + @navbarHeight;
padding-top:@headerPaddingTop;
padding-bottom:@headerPaddingBtm;
margin-top:@headerMarginTop;
background-color:@headerBackground;
background-image:@headerPattern;
background-position:center top;
background-repeat:@headerRepeat;
background-attachment:@headerAttach;
color:@headerColor;
.border-top-right-radius(@headerBorderRadiusTop);
.border-top-left-radius(@headerBorderRadiusTop);
.border-bottom-right-radius(@headerBorderRadiusBtm);
.border-bottom-left-radius(@headerBorderRadiusBtm);
.box-shadow(@headerBoxShadow);
}

#banner.gradient {
.bkgd-gradient-mixin( @headerGradient )
}

#masthead {
display:block;
height:@mastHeight;	
background-color:@mastBackground;
background-image:@mastPattern;
background-position:center top;
background-repeat:@mastRepeat;
background-attachment:@mastAttach;
.border-top-right-radius(@mastBorderRadiusTop);
.border-top-left-radius(@mastBorderRadiusTop);
.border-bottom-right-radius(@mastBorderRadiusBtm);
.border-bottom-left-radius(@mastBorderRadiusBtm);
margin-bottom:@mastMarginBtm;
margin-top:@mastMarginTop;
}

#masthead.gradient {
.bkgd-gradient-mixin( @mastGradient )
}

#brand {
height:@mastHeight;
display:block;	
float:left;
//margin-top:@brandMarginTop;
max-width:100%;
line-height:@mastHeight;
font-family:@brandFontFamily;
font-size:@brandFontSize;
font-weight:@brandFontWeight;
}

#brand a {
color:@brandColor;
}
#brand a:hover {
text-decoration:none;
}

#brand span.brand_font_text {
padding:0 30px;
}

#brand img.brand_logo {
padding:10px 30px;	
}

#brand.span4 {
min-width:320px;	
}

#leaderboard {
height:@mastHeight;
display:block;	
float:right;
//margin-top:@brandMarginTop;
max-width:100%;
}

#leaderboard a img, #leaderboard img {
float:right;	
padding:20px 30px 20px 0;
}

/* Adjust the Pinned Navbar to Accommodate the WP admin bar */
body.admin-bar .navbar-fixed-top.affix { top: 28px !important;}

.nav, .navbar {
margin-bottom:0;	
}

.navbar .navbar-inner, .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner, .navbar-static-top .navbar-inner {
.border-top-right-radius(@navbarBorderRadiusTop);
.border-top-left-radius(@navbarBorderRadiusTop);
.border-bottom-right-radius(@navbarBorderRadiusBtm);
.border-bottom-left-radius(@navbarBorderRadiusBtm);
min-height:@navbarHeight;
}

.navbar-transparent .navbar-inner {
background-image:none;
background-color:transparent;	
border-color:none;
}

.navbar-pos-btm.affix-top {
position:relative;
}

.nav-collapse .btn {
padding-right:0;	
}

/* Navbar Brand */
.navbar .brand {
height:@navbarHeight;
display:block;	
float:left;
max-width:100%;
padding:0;
}

.navbar .brand img.brand_logo {
height:@navbarHeight - 10px;
max-width:100%;
display:block;
float:left;
vertical-align:text-top;
padding:5px 25px 5px 0;
}

.navbar .brand img.brand_mark {
padding-right:20px;

}

.navbar .brand span.brand_font_text {
line-height:@baseFontSize * 2;
font-family:@brandFontFamily;
font-size:@baseFontSize * 2;
font-weight:@brandFontWeight;
color:@navbarbrandColor;	
display:block;
float:left;
vertical-align:text-bottom;
padding:((@navbarHeight - (@baseFontSize * 2)) / 2) 25px;
padding-left:0;
}

.navbar.navbar-inverse .brand .brand_font_text {
color:@navbarInverseBrandColor;	
}

.navbar-fixed-top.affix-top .brand, .navbar-static-top .brand {
display:none;	
}
.navbar-fixed-top.affix .brand {
display:block;	
}

/* Navbar Std */
.navbar .nav > li > a {
font-size:@baseFontSize;
line-height:@baseFontSize;
padding:(((@navbarHeight - @baseFontSize) / 2) + 2) 25px (((@navbarHeight - @baseFontSize) / 2) - 2);	
}

/* Navbar Pills */
.navbar .nav-pills > li > a {
padding:(((@navbarHeight - @baseFontSize) / 4) + 1) 25px (((@navbarHeight - @baseFontSize) / 4) - 1);
margin: ((@navbarHeight - @baseFontSize) / 4) 0;	
}

/* Navbar Tabs */
.navbar-tabs .navbar-inner {

}

.navbar .nav-tabs {
border-bottom:none;
height:@navbarHeight + 7px;
margin-top:-7px;
}

.navbar .nav-tabs > li > a {
padding:(((@navbarHeight - @baseFontSize) / 2) + 7) 25px (((@navbarHeight - @baseFontSize) / 2) - 0);
margin: 0;
border:1px solid transparent;
border-bottom:none;	
}

/* Navbar LIGHT Scheme */
.navbar {
	.nav > li > a {
	.text-shadow-mixin( @navbarLinkColor )
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
	.text-shadow-mixin( @navbarLinkColorHover )
	}
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
	.text-shadow-mixin( @navbarLinkColorActive )
	}
	.nav li.dropdown.open > .dropdown-toggle,
	.nav li.dropdown.active > .dropdown-toggle,
	.nav li.dropdown.open.active > .dropdown-toggle {
	.text-shadow-mixin( @navbarLinkColorActive )
	}
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
	border: 1px solid darken(@navbarLinkBackgroundActive, 30%);
	border-bottom:none;
	.box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
	}
}

/* Navbar DARK Scheme */
.navbar-inverse {
	.nav > li > a {
	.text-shadow-mixin( @navbarInverseLinkColor )
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
	.text-shadow-mixin( @navbarInverseLinkColorHover )
	}
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
	.text-shadow-mixin( @navbarInverseLinkColorActive )
	}
	.nav li.dropdown.open > .dropdown-toggle,
	.nav li.dropdown.active > .dropdown-toggle,
	.nav li.dropdown.open.active > .dropdown-toggle {
	.text-shadow-mixin( @navbarInverseLinkColorActive )
	}
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
	border: 1px solid darken(@navbarLinkBackgroundActive, 30%);
	border-bottom:none;
	}	
}

/* Navbar Caret + Dropdown Menu */
.nav .dropdown > .dropdown-toggle .caret {
display:@navbarCaret;
margin-top:5px;
}

.navbar .nav > li > .dropdown-menu {
margin-top:@navbarDropdownMarginTop;	
.border-radius(@navbarDropdownBorderRadius);
}
.nav-tabs > li > .dropdown-menu {
margin-top:@navbarDropdownMarginTop;	
.border-radius(0 0 @navbarDropdownBorderRadius @navbarDropdownBorderRadius);	
}
.nav-pills > li > .dropdown-menu {
margin-top:@navbarDropdownMarginTop;	
.border-radius(@navbarDropdownBorderRadius);	
}

.navbar .nav > li > .dropdown-menu, .nav-tabs > li > .dropdown-menu, .nav-pills > li > .dropdown-menu {
  &:before {
    content: '';
    display: @navbarDropdownCaret;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: @dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  &:after {
    content: '';
    display: @navbarDropdownCaret;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid @dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}

.nav .dropdown-menu .active > a,
.nav .dropdown-menu .active > a:hover {
color: @dropdownLinkColorActive;
}

/* =============================================================================
   Wrap
   ========================================================================== */

#wrap {
overflow:hidden;
margin-top:@wrapMarginTop;
margin-bottom:@wrapMarginBtm;
background-color:@wrapBackground;
background-image:@wrapPattern;
background-position:center top;
background-repeat:@wrapRepeat;
background-attachment:@wrapAttach;
.border-top-right-radius(@wrapBorderRadiusTop);
.border-top-left-radius(@wrapBorderRadiusTop);
.border-bottom-right-radius(@wrapBorderRadiusBtm);
.border-bottom-left-radius(@wrapBorderRadiusBtm);
.box-shadow(@wrapBoxShadow);
}

#wrap.gradient {
.bkgd-gradient-mixin( @wrapGradient )	
}

/* ==========================================================================
   Content
   ========================================================================== */

#content {
overflow:hidden;
padding-bottom:20px;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

#main, #sidebar { 
padding-bottom:99999px;
margin-bottom:-99999px;
overflow:hidden;
}

#main img { margin-bottom:20px; }

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { 
padding-top:20px;
background-color:@sidebarBackground;
background-image:@sidebarPattern;
background-position:center top;
background-repeat:@sidebarRepeat;
background-attachment:@sidebarAttach;
.border-top-right-radius(@wrapBorderRadius);
.border-bottom-right-radius(@wrapBorderRadius);
.box-shadow(@wrapBoxShadow);
}

#sidebar.gradient {
.bkgd-gradient-horz-mixin( @sidebarGradient )	
}

#sidebar section { 
margin-top:10px;
margin-bottom:10px;
padding:5px 0;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */
#sitefooter {	
}

#superfooter {
//height:@footerHeight;
padding-top:@footerPaddingTop;
padding-bottom:@footerPaddingBtm;
margin-top:@footerMarginTop;
margin-bottom:@footerMarginBtm;
background-color:@footerBackground;
background-image:@footerPattern;
background-position:center top;
background-repeat:@footerRepeat;
background-attachment:@footerAttach;
color:@footerColor;
.box-shadow(@footerBoxShadow);
.border-top-right-radius(@footerBorderRadiusTop);
.border-top-left-radius(@footerBorderRadiusTop);
.border-bottom-right-radius(@footerBorderRadiusBtm);
.border-bottom-left-radius(@footerBorderRadiusBtm);
}

#superfooter.gradient {
.bkgd-gradient-mixin( @footerGradient )
}

#superfooter a {
color:@footerLinkColor;
border-bottom:1px dotted @footerLinkColor;	
}

#superfooter a:hover {
text-decoration:none;
border-bottom:1px solid darken(@footerLinkColor,15%);	
color:darken(@footerLinkColor,15%);
}		

#superfooter h3 {
color:@footerHeadingsColor;	
}

#superfooter section {
padding-top:5px;
margin-bottom:15px;	
}

#colophon {
//height:@colophonHeight;
padding-top:@colophonPaddingTop;
padding-bottom:@colophonPaddingBtm;
margin-top:@colophonMarginTop;
margin-bottom:@colophonMarginBtm;
background-color:@colophonBackground;
background-image:@colophonPattern;
background-position:center top;
background-repeat:@colophonRepeat;
background-attachment:@colophonAttach;
color:@colophonColor;
.box-shadow(@colophonBoxShadow);
.border-top-right-radius(@colophonBorderRadiusTop);
.border-top-left-radius(@colophonBorderRadiusTop);
.border-bottom-right-radius(@colophonBorderRadiusBtm);
.border-bottom-left-radius(@colophonBorderRadiusBtm);
#translucent > .background(@colophonBackground, @colophonBackgroundOpacity);
}

#colophon.gradient {
.bkgd-gradient-mixin( @colophonGradient )
}

#colophon a {
color:@colophonLinkColor;
border-bottom:1px dotted @colophonLinkColor;	
}

#colophon a:hover {
text-decoration:none;
border-bottom:1px solid darken(@colophonLinkColor,15%);	
color:darken(@colophonLinkColor,15%);
}

#colophon #credits {
text-align:right;	
}

/* Sticky footer styles
-------------------------------------------------- */

/*

html,
body {
height: 100%;
}

#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -1*( ( @colophonHeight + @colophonPaddingTop + @colophonPaddingBtm + @colophonMarginTop + @colophonMarginBtm ) + ( @footerHeight + @footerPaddingTop + @footerPaddingBtm + @footerMarginTop + @footerMarginBtm ) );
}

#sitefooter { 
height: ( ( @colophonHeight + @colophonPaddingTop + @colophonPaddingBtm + @colophonMarginTop + @colophonMarginBtm ) + ( @footerHeight + @footerPaddingTop + @footerPaddingBtm + @footerMarginTop + @footerMarginBtm ) );
}

#push {
height: ( ( @colophonHeight + @colophonPaddingTop + @colophonPaddingBtm + @colophonMarginTop + @colophonMarginBtm ) + ( @footerHeight + @footerPaddingTop + @footerPaddingBtm + @footerMarginTop + @footerMarginBtm ) );
}

@media (max-width: 767px) {
#sitefooter {
margin-left: -20px;
margin-right: -20px;
padding-left: 20px;
padding-right: 20px;
}
}

*/

      
/* ==========================================================================
   Search Form
   ========================================================================== */
   
#sidebar .form-search input[type="text"] { width:50%; }  

/* ==========================================================================
   Misc Components
   ========================================================================== */


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
img.alignright { margin-left:20px; }
img.alignleft { margin-right:20px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
/* Fix top padding when using the responsive grid with the fixed topbar */
body.top-navbar { padding-top: 0; }
.navbar .container { width: 724px; padding:0px; }
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin:0; }
.navbar .brand { padding:15px 25px 15px 0; margin-left:15px; }
.navbar .btn-navbar { margin-right:30px; }
#sidebar .form-search { padding:10px; }
#sidebar .form-search input[type="text"] { width:80%; } 
}
@media (max-width: 767px) {
body { padding-left: 0px; padding-right: 0px; }
.navbar .container { width: auto; }
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin:0; }
.navbar .brand { padding:15px 25px 15px 0; margin-left:15px; }
.navbar .btn-navbar { margin-right:15px; }
//#superfooter { height:@footerHeight * 2; }
#colophon #copyright, #colophon #credits { text-align:center; }
#superfooter .span4 { border-top:3px solid @bodyBackground; }
.navbar .navbar-inner, .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner, .navbar-static-top .navbar-inner, #wrap, #superfooter, #colophon { border-radius:0px; border:none; }
#colophon { border-top:3px solid @bodyBackground; } 
}
@media (max-width: @navbarCollapseWidth) {
.navbar .brand { padding:15px 25px 15px 0; margin-left:15px; }
.navbar .btn-navbar { margin-right:15px; }
}

@media (max-width: 480px) {
//#superfooter { height:@footerHeight * 3; }	
}