/**
 * Custom Meta Box (Copied and modified from Options Framework)
 */

.ws-meta-box p{margin-bottom:0;padding-bottom:10px;}
.ws-meta-box .section{border-bottom:1px solid #dfdfdf;padding:10px 10px 20px;}
.ws-meta-box .section:last-of-type{border-bottom:none;padding-bottom:40px;}
.ws-meta-box .section .heading{font-size:1.2em;margin:0 0 7px;padding:7px 5px;}
.ws-meta-box .section-info .heading{font-size:18px;margin:0;padding:5px;}
.ws-meta-box .section-info p{margin:5px 0 0;padding:0 5px;}
.ws-meta-box .section .controls{float:left;min-width:250px;width:54%;padding-right:2%;}
.ws-meta-box .section .explain{width:38%;min-width:250px;float:left;font-size:12px;line-height:16px;color:#777;}
.ws-meta-box .section-checkbox .controls{min-width:25px;width:25px;}
.ws-meta-box .section-checkbox .explain{max-width:93%;}
.ws-meta-box .section-color .controls{min-width:125px;width:125px;}
.ws-meta-box .controls input,.ws-meta-box .controls select,.ws-meta-box .controls textarea{margin-bottom:10px;width:100%;}
.ws-meta-box .section-radio label,.ws-meta-box .section-multicheck label{float:left;}
.ws-meta-box input.checkbox,.ws-meta-box input.of-radio{width:30px;float:left;clear:both;}
.ws-meta-box .controls .of-color{float:left;width:80px;margin-left:5px;margin-right:5px;}
.ws-meta-box .controls .of-typography-size{width:80px;margin-left:5px;float:left;}
.ws-meta-box .controls .of-typography-unit{width:50px;margin-left:5px;float:left;}
.ws-meta-box .controls .of-typography-face{width:100px;margin-left:5px;float:left;}
.ws-meta-box .controls .of-radio-img-img{border:3px solid #f9f9f9;display:none;cursor:pointer;float:left;margin:0 5px 10px 0;}
.ws-meta-box .controls .of-radio-img-selected{border:3px solid #ccc;}
.ws-meta-box .controls .of-radio-img-img:hover{opacity:.8;}
.ws-meta-box .controls .of-border-width{width:80px;float:left;}
.ws-meta-box .controls .of-border-style{width:120px;float:left;}
.ws-meta-box .hide{display:none;}
.ws-meta-box .of-option-image{max-width:340px;margin:3px 0 18px;}
.ws-meta-box .mini .controls select,.ws-meta-box .section .mini .controls{width:140px;}
.ws-meta-box .mini .controls input,.ws-meta-box .mini .controls{min-width:140px;width:140px;}
.ws-meta-box .mini .explain{max-width:74%;}