.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
  display:table;
  content:"";
  line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
  font:0/0 a;
  color:transparent;
  text-shadow:none;
  background-color:transparent;
  border:0;
}
.input-block-level {
  display:block;
  width:100%;
  min-height:30px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  background-color:#badde0;
  background-image:url('../../img/patterns/patlight-09.png');
  background-position:center top;
  background-repeat:repeat;
  background-attachment:fixed;
}
body.top-navbar { padding-top:50px; }
body.admin-bar .navbar-fixed-top { top:28px; }
.navbar .brand {
  height:50px -30;
  line-height:50px -30;
  display:block;
  float:left;
  padding:15px 25px;
  max-width:100%;
}
.navbar .brand img {
  height:20px;
  display:block;
  float:left;
  vertical-align:text-top;
}
.navbar .brand .brand_logo_mark { padding-right:20px; }
.navbar .brand .brand_font_text {
  display:block;
  line-height:20px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:20px;
  font-weight:bold;
  color:#c7ff99;
  float:left;
  vertical-align:text-bottom;
}
#wrap {
  margin-top:20px;
  background-color:transparent;
  background-image:none;
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.15);
  -moz-box-shadow:0 2px 5px rgba(0,0,0,0.15);
  box-shadow:0 2px 5px rgba(0,0,0,0.15);
}
#main { padding-bottom:20px; }
#main > * {
  padding-left:20px;
  padding-right:20px;
}
#sidebar {
  padding-top:20px;
  padding-bottom:20px;
  background-color:rgba(186,221,224,0.15);
}
#sidebar section { padding:5px 20px; }
#content-info {
  background-color:transparent;
  background-image:none;
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  color:#DDDDDD;
  padding-top:20px;
  padding-bottom:15px;
  margin-top:20px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.15);
  -moz-box-shadow:0 2px 5px rgba(0,0,0,0.15);
  box-shadow:0 2px 5px rgba(0,0,0,0.15);
}
#content-info a {
  color:#FFFFFF;
  border-bottom:1px dotted #FFFFFF;
}
#content-info > * {
  padding-left:15px;
  padding-right:15px;
}
.aligncenter {
  display:block;
  margin:0 auto;
}
.alignleft { float:left; }
.alignright { float:right; }
figure.alignnone {
  margin-left:0;
  margin-right:0;
}
@media (max-width: 979px) {
  body.top-navbar { padding-top:0; }
}
@media (max-width: 979px) {
}
